@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes bounce1 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}

@keyframes bounce2 {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-15px);
  }
}

.animate-bounce-1 {
  animation: 3s ease-in-out bounce1 infinite;
}
.animate-bounce-2 {
  animation: 2s ease-in-out bounce2 infinite reverse;
}
.animate-bounce-3 {
  animation: 2s ease-in-out bounce2 infinite reverse;
}

.animate-bounce-4 {
  animation: 3s ease-in-out bounce1 infinite;
}
